<!DOCTYPE html>
<html>
  <head>
    <title>Cars Idf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150373882-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-150373882-1');
    </script>

    <script>
      window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#eaf7f7",
            "text": "#5c7291"
          },
          "button": {
            "background": "#56cbdb",
            "text": "#ffffff"
          }
        },
        "content": {
          "message": "Ce site utilise des cookies pour vous garantir la meilleure expérience sur notre site.",
          "dismiss": "Accepter!",
          "link": "En savoir Plus",
          "href": "<%= pages_mention_cookies_path %>"
        }
      })});
    </script>
  </head>

  <body>
  <%= render "pages/notification" %>
    <%= render "hero" %>
      <%= yield %>
    <%= render "footer" %>  
  </body>
</html>
